<ion-view title="CarCloud">
    <ion-content>
        <div class="logo">
            <img width=40% src="img/logo-trans.png">
        </div>
        <form>
            <div class="list">
                <div class="padding">
                    <label class="item item-input">
                        <input placeholder="Username" type="text" ng-model="username">
                    </label>
                </div>
                <div class="padding">
                    <label class="item item-input">
                        <input placeholder="Password" type="password" ng-model="password">
                    </label>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="login(username, password)">
                    Log In
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
