<ion-view title="Profile">

    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header" padding="true">
        <form name="form" role="form" novalidate ng-submit="update(this)">

            <div class="list">

                <label class="item item-input">
                    <span class="input-label">First name</span>
                    <input required name="firstname" ng-model="account.firstName" type="text">
                </label>

                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input required name="lastname" ng-model="account.lastName" type="text">
                </label>

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input required name="email" ng-model="account.email" type="email">
                </label>

            </div>

            <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive">
                <span class="ion-checkmark-circled"></span> Save
            </button>

        </form>

    </ion-content>
</ion-view>
