<ion-view title="Profile">

    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header" padding="true">
        <form name="form" role="form" novalidate ng-submit="update(this)">

            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">First name</span>
                    <input ng-minlength=1 ng-maxlength=50 required maxlength="50" name="firstName"
                           ng-model="account.firstName" type="text">
                </label>

                <div class="error" ng-cloak
                     ng-show="form.firstName.$dirty && form.firstName.$invalid">

                    <small class="error" ng-cloak ng-show="form.firstName.$error.required">
                        Your first name is required.
                    </small>

                    <small class="error" ng-cloak ng-show="form.firstName.$error.minlength">
                        Your first name is required to be at least 1 character
                    </small>

                    <small class="error" ng-cloak ng-show="form.firstName.$error.maxlength">
                        Your first name cannot be longer than 50 characters
                    </small>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last name</span>
                    <input ng-minlength=1 ng-maxlength=50
                           required maxlength="50" name="lastName" ng-model="account.lastName" type="text">
                </label>

                <div class="error" ng-cloak
                     ng-show="form.lastName.$dirty && form.lastName.$invalid">

                    <small class="error" ng-cloak ng-show="form.lastName.$error.required">
                        Your last name is required.
                    </small>

                    <small class="error" ng-cloak ng-show="form.lastName.$error.minlength">
                        Your last name is required to be at least 1 character
                    </small>

                    <small class="error" ng-cloak ng-show="form.lastName.$error.maxlength">
                        Your last name cannot be longer than 50 characters
                    </small>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input ng-minlength=1 ng-maxlength=50
                           required maxlength="50" name="email" ng-model="account.email" type="email">
                </label>

                <div class="error" ng-cloak ng-show="form.email.$dirty && form.email.$invalid">
                    <small class="error" ng-cloak ng-show="form.email.$error.required">
                        Your e-mail is required.
                    </small>

                    <small class="error" ng-cloak ng-show="form.email.$error.email">
                        Your e-mail is invalid.
                    </small>

                    <small class="error" ng-cloak ng-show="form.email.$error.minlength">
                        Your e-mail is required to be at least 5 characters
                    </small>

                    <small class="error" ng-cloak ng-show="form.email.$error.maxlength">
                        Your e-mail cannot be longer than 100 characters
                    </small>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone</span>
                    <input ng-minlength=1 ng-maxlength=50
                           required maxlength="50" name="phone" ng-model="account.phone" type="tel">
                </label>

                <div class="error" ng-cloak ng-show="form.phone.$dirty && form.phone.$invalid">
                    <small class="error" ng-cloak ng-show="form.phone.$error.required">
                        Your phone number is required.
                    </small>

                    <small class="error" ng-cloak ng-show="form.phone.$error.phoneNumber">
                        Your phone number is invalid.
                    </small>
                </div>

            </div>

            <button type="submit" ng-disabled="form.$invalid" class="button button-full button-positive">
                <span class="ion-checkmark-circled"></span> Save
            </button>

        </form>

    </ion-content>
</ion-view>
