<ion-view title="Profile">
	<ion-nav-bar class="bar-dark">
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header" padding="false">
		<form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="Ian">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Duffy">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">E-mail</span>
					<input type="text" placeholder="admin@carcloud.ianduffy.ie">
				</label>
			</div>

			<div class="padding-left padding-right">
				<button id="save-button" type="save" class="button button-block button-positive">Save</button>
			</div>
		</form>

	</ion-content>
</ion-view>
