<ion-view title="Device" hide-back-button="false" scroll="false">

    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear force-display-inline-block">
            <i class="ion-ios-arrow-back"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-more" ng-click="openPopover($event)">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header">
        <div id="map_canvas"></div>
    </ion-content>
</ion-view>
