<ion-view>
    <ion-content class="padding" scroll="false">
        <img class="carcloud-logo" src="img/logo-trans.png">

        <form ng-submit="login()">
            <div class="ion-list">
                <label class="item item-input">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input ng-model="form.username" type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input ng-model="form.password" type="password" placeholder="Password">
                </label>
                <button id="signin-button" type="submit" class="button button-block button-positive">Sign In</button>
            </div>
        </form>

    </ion-content>
</ion-view>
