ion-nav-view {
    background-color: #FFF !important;
}

::-webkit-input-placeholder {
    color: #bbb;
}

.scroll-content.padding {
    padding: 18px;
}

.item-input {
    border-width: 0 0 1px 0;
    margin-bottom: 13px;
    border-color: #d6d6d6;
    padding-bottom: 0px;
}

.item-input .icon {
    margin-right: 10px;
    margin-bottom: 2px;
    font-size: 19px;
}

.item-input input {
    font-size: 16px;
}

.carcloud-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 155px;
    height: auto;
}

#signin-button {
    margin-top: 23px;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 28px;
  padding: 28px;
  font-size: 24px;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button.float-button-positive {
    background-color: #4a87ee;
}

.float-button.float-button-positive:active {
    background: #145fd7;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -12px; /* Note, this must be half the font size */
  color: white;
}

.modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.item-input {
     padding: 6px 0 0 0;
}

.item-input input {
    padding-left: 24px;
}

.force-display-inline-block {
    display: inline-block !important;
    opacity: 0.8 !important;
}

ion-popover-view.fit {
    height: auto !important;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}

.force-overflow {
    overflow: visible !important;
}

.force-remove-bg {
    background: none !important;
}

.chosen-container {
    width: 100% !important;
}